.box-parent-wrapper{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items:space-between;
}
.box-column-container{
    display: flex;
    gap:10px;
}
.box-row-container{
    display:flex;
    background-color:rgb(228, 228, 228);
    width:62px;
    height:62px;
    justify-content: center;
    align-items: center;
    border-radius:4px;
    margin:5px;
    color:gray;
    font-weight: bold;
    cursor: pointer;
    transition:all 0.5 ease;
   
}
.box-row-container:hover{
    border:2px solid rgb(70, 70, 70);
}

/*  */
.highlight{
    background-color: beige;
}
.computerselect{
    background-color: tomato;
    color:white;
}
.matchHighlight{
    background-color:lightgreen;
    border:2px solid rgb(61, 61, 61);
}

