.box-parent-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-column-container{
    display: flex;
    gap:10px;
}
.box-row-container{
    display:flex;
    background-color:rgb(228, 228, 228);
    width:50px;
    height:50px;
    justify-content: center;
    align-items: center;
    border-radius:4px;
    margin:5px;
    color:gray;
    font-weight: bold;
    cursor: pointer;
    transition:all 0.5 ease;
}
.box-row-container:hover{
    border:2px solid rgb(70, 70, 70);
}

/*  */
.highlight{
    background-color: beige;
}
.computerselect{
    background-color: tomato;
    color:white;
}
.matchHighlight{
    background-color:lightgreen;
    border:2px solid rgb(61, 61, 61);
}

/* game loose and win section */
.game-loose-and-win-container{
    width:100%;
    height:15vh;
    margin-bottom:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-loose-and-win-container > h1{
    padding:5px;
    font-size:1.2em;
    text-transform:uppercase;
    text-align: center;

}

.game-loose-and-win-container h1>span{
    border:none;
    text-transform: uppercase !important;
    border-bottom:2px solid rgb(0, 255, 0);;
    color:rgb(134, 134, 134);
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    margin:0px 10px;
}

.game-loose-and-win-container h1>span:hover{
    color:rgb(49, 49, 49);
}

/* --------------------------- */