
.navbar-main-container{
    width:100%;
    padding:12px 20px;
    min-height:10vh;


}
.navbar-main-container > ul{
    width:100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap:20px;
}

.navbar-main-container > ul li{
    list-style: none;
    font-weight:600;
    background-color: rgb(243, 243, 243);
    padding:10px;
    border-radius: 3px;
    font-size: 12px;
    color:rgb(145, 145, 145);
}
.navbar-main-container > ul li > span{
     font-weight:700;
     font-size:12px;
     margin-right:5px;
     color: rgb(100, 100, 100) !important;

}


.logout-button{
    background-color: tomato !important;
    cursor: pointer;

}
.logout-button:hover{
    background-color: rgb(253, 61, 27) !important;

}
.logout-button >a{
    color:white !important;
    text-decoration: none;
}



/* selection reach max warn */
.selectMaxReachAnimiate{

    animation-name:beatWarn;
    animation-duration:0.5s;
    animation-iteration-count:1;
    animation-direction:alternate;
    transition:all 0.2s ease;

}

/*  */
@keyframes beatWarn{
	0%{
        opacity:1;
        transform:scale(1);   
    }
	100% {
        opacity:0.1;
        transform:scale(1.2);
        background-color: rgb(255, 79, 73);
        color:white;
	}
	75% {
		opacity: 1;
        transform:scale(1);
	}
}